DIGIT210/assignments/relaxedNG/relaxedNG_1/movieData.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = xml
xml = element xml{header,movie*}
header = element header{text}

movie = element movie {title, date, country, runTime}

title = element title {text}
date = element date {xsd:int}
country = element country {text}
unit = attribute unit {text}
runTime = element runTime {unit?,text}

